body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(135deg, #d9e8ff, #b3d3ff, #9fc8ff);
  font-family: var(--font-base);
  font-size: 16px;
  color: var(--color-text);
  line-height: 1.5;
}

.page-container {
  display: flex;
  width: 100vw;
}

.page-title {
  align-self: flex-start;
  font-weight: 600;
  font-size: 32px;
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  gap: 59px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 133px 172px 91px 88px;
  gap: 39px;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}
